.about{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: bold;
  color: #011632;
  padding-bottom: 20px;
  text-shadow: 2px 2px 4px #0000004d;;
}
p1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
}

.pvm{
  background-color: #ffefa7;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.pvm-box{
  flex-basis: 31%;
  background-color: #011632;
  border-radius: 20px;

  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.pvm h2{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #EFD045;
  font-weight: 600;
  margin: 10px 0;
 
}
.pvm p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: justify;
}
.pvm-box:hover{
  box-shadow: 0, 0, 90px, 0px rgb(0, 0, 0);
}

.core-values{
  margin-top: 20px;
  width: 100%;
  background-color: #011632;
  border-radius: 40px;
  margin-bottom: 20px;
}
.core-values img{
  max-width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: #e0b803;
}
.hymn{
  padding: 50px 30px;
  background-color: rgba(255, 232, 22, 0.13);
  border: 3px solid #011632;
  border-radius: 50px;
}
.hymn h{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #011632;
}
.hymn p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 30px;
}